.jumbotron{
    padding: 2px;
    margin: 1px;
}
.sidebar {
    width: 20%;
    float: left;
    background-color: blueviolet;
}
.sidebar2 {
    width: 20%;
    float: right;
    background-color: blueviolet;
}
